form{
    background-color: #12343b;
   padding:1px 10px 1px 10px;
  margin: 0.25px 70px 300px 400px;
    display:block;
   text-align: center;
   /*height:400px;*/
   height: 60vh;
   width: 500px;
   border-radius: 40px;
   color: white;
}

form input {
    text-align: center;
    color: white;
    background-color: #12343b;
    border-radius: 40px;
    border-color: grey;
    border-width: 3px;
    justify-content: space-between;
}

.header{
    display: flex;
    height: 85px;
    width: 100vw;
    justify-content: space-between;
    background-color: white;
    position: fixed;
}

.container{
    display: flex;
    width: 100vw;
    background-color:whitesmoke;
    flex-direction: column;
}

.aside{
    display: flex;
    height: 100%;
    width: 200px;
    background-color:#12343b;
    text-align:center;
}